.checkbox-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 140px;
    background-color: aquamarine;
}

.checkbox-wrapper {
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    text-align: left;
}
